body{ 
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: black;
    color: white;
}

header{ 
    display: flex; 
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 100%;
}

.cover { 
    display: flex;
    align-items: center;
    gap: 15px;
}

.cover img{ 
    width: 80px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search { 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.search input { 
    height: 30px;
    border: none;
    border-radius: 20px ;
    margin-right: 4px;
    background-color: slateblue;
    outline: none;
}

.search input:focus{ 
    border: solid 2px #f5deb3;
    box-shadow:  0 0 0 2px rgba(255, 221, 118, 0.274);
}

.search button { 
    background-color: slateblue;
    color: white;
    border: none;
    border-radius: 10px ;
}

.search img{ 
    width: 25px;
}


.profile { 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile img{ 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.modalWindProf { 
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    height: 300px;
    width: 200px;
    top: 100%;
    z-index: 2000;
    position: absolute;
    background-color: #f5deb3;
    border-radius: 20px;
    box-shadow:  0 1px 1px 1px rgba(255, 221, 118, 0.274);
}

.modalWindProf button { 
    width: 70%;
    height: 35px;
    background-color: slateblue;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px ;
    margin-bottom: 5px;
}

.music { 
    display: flex;
    position: relative;
    width: 150px;
}

.music button { 
    height: 30px;
    width: 100%;
    background-color: slateblue;
    border: none;
    border-radius: 10px;
    color: #ffff;
}

.modalMusic{
    display: none;
    height: 130px;
    width: 100%;
    top: 100%;
    z-index: 1000;
    position: absolute;
    background-color: #f5deb3;
    margin-top: 20px;
    border-radius: 20px ;
    flex-direction: column;
    box-shadow:  0 1px 1px 1px rgba(255, 221, 118, 0.274);
}

.modalMusic button { 
    padding-top: 2px;
    padding-left: 4px;
    width: 70%;
    height: 35px;
    background-color: slateblue;
    color: white;
    border: none;
    border-radius: 5px;
}

.sounds {
    max-height: 150px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 5px;
    padding-left: 2px;
}

.sounds button {
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sounds button:hover {
    background-color: #7b68ee;
}

.modalRedact { 
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    z-index: 2000; 
    background-color: #f5deb3;
    color: white;
    box-shadow:  0 1px 1px 1px rgba(255, 221, 118, 0.274);
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blur-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

button { 
    cursor: pointer;
}

#fileInp { 
    display: none;
}

main { 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main { 
    display: grid;
    grid-template-columns: repeat(1fr , 2fr ,1fr);
}

.leftMenu { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    width: 200px;
    background-color: #f5deb3;
    border-radius: 20px;
}

.leftMenu button { 
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 8px;
    margin: 10px 0px 0px 10px;
    background-color: slateblue;
    color: white;
}

.centerMenu { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5deb3;
    height: 70vh;
    width: 400px;
    position: relative;
    z-index: 1000;
    border-radius: 20px;
}

.centerMenu { 
    padding: 10px;
}

.rightMenu { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5deb3;
    height: 70vh;
    width: 200px;
    border-radius: 20px;
}

.modalAbout{ 
    position: fixed;
    transform: translate(-50% , -20%);
    top: 20%;
    left: 50%;
    background-color: #f5deb3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    z-index: 2000;
}

.modalAbout button{ 
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 8px;
    margin: 10px 0px 0px 10px;
    background-color: slateblue;
    color: white;
}

#disabeplace{ 
    background-color: slateblue;
    color: white;
    border: none;
    border-radius: 12px;
    height: 30px;
}

.modalDesignChoice { 
    position: fixed;
    transform: translate(-50% , -20%);
    top: 20%;
    left: 50%;
    background-color: #f5deb3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    z-index: 2000;
}

.modalDesignChoice button { 
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 8px;
    margin: 10px 0px 0px 10px;
    background-color: slateblue;
    color: white; 
}